title #{SiteName} - #{PageTitle}
meta(name='description', content='Modern & Creative CV/Resume HTML5 Template')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//Favicon
link(rel='icon', type='image/png', href='assets/img/root/favicon.png')

//Framework
link(rel='stylesheet', href='assets/css/framework/bootstrap.min.css')

//Fonts
link(rel='stylesheet', href='assets/fonts/Inter/style.css')

//Plugins
link(rel='stylesheet', href='assets/css/vlt-plugins.min.css')

//Style
link(rel='stylesheet', href='assets/css/vlt-main.min.css')

//Custom
link(rel='stylesheet', href='assets/css/custom.css')