mixin vlt_counter_up(object)

	//- Default
	- object = object || {}
	- object.value = object.value || '99'
	- object.suffix = object.suffix || ''
	- object.animation_speed = object.animation_speed || '1000'
	- object.delimiter = object.delimiter || ''

	//- Element Class
	- elClass = 'vlt-counter-up'

	//Counter Up
	div(class=elClass, data-ending-number=object.value, data-animation-speed=object.animation_speed, data-delimiter=object.delimiter)

		span.counter 0

		if object.suffix != ''

			sup

				=object.suffix