mixin vlt_timeline_slider(object)

	//- Default
	- object = object || {}

	//- Element Class
	- elClass = 'vlt-timeline-slider'

	//Timeline Slider
	div(class=elClass)

		.swiper-container

			.swiper-wrapper

				block