mixin vlt_testimonial_slider(object)

	//- Default
	- object = object || {}

	//- Element Class
	- elClass = 'vlt-testimonial-slider'

	//Testimonial Slider
	div(class=elClass)

		.swiper-container

			.swiper-wrapper

				block