//Fixed Socials
if FixedSocials == 'show'

	.vlt-fixed-socials

		a(href='#', target='_blank') Fb.
		a(href='#', target='_blank') Bē.
		a(href='#', target='_blank') Tw.
		a(href='#', target='_blank') In.