include ../../mixins/_global-mixins.pug

.vlt-section__vertical-align

	.vlt-section__content

		//Particles
		.vlt-section__particles

			.vlt-particle.vlt-custom--1259.vlt-fade-in-right(style='background-image: url(assets/img/root/plus-light-pattern.png); animation-delay: 750ms;')
			.vlt-particle.vlt-custom--2355.vlt-fade-in-left(style='background-image: url(assets/img/root/elipse-light.png); animation-delay: 500ms;')

		.container

			.row

				.col-lg-10.offset-lg-1

					+vlt_animation_block

						.d-block.d-md-flex.align-items-center.justify-content-between

							h1 My Journal

							.vlt-gap-30--sm

							a(href='#', class='vlt-btn vlt-btn--primary')

								span.vlt-btn__text View More Posts

					.vlt-gap-50

					.row

						.col-md-4

							+vlt_animation_block({
								delay: '100ms'
							})

								+vlt_blog_post({
									thumbnail: 'assets/img/attachment-08.jpg',
									title: 'Lights winged seasons fish abundantly evening.',
									category: 'Personal',
									date: '01 June, 2020',
									link: '#'
								})

							.vlt-gap-40--sm

						.col-md-4

							+vlt_animation_block({
								delay: '200ms'
							})

								+vlt_blog_post({
									thumbnail: 'assets/img/attachment-09.jpg',
									title: 'Given void great you’re good appear also fifth.',
									category: 'Travel',
									date: '01 June, 2020',
									link: '#',
									featured: 'yes'
								})

							.vlt-gap-40--sm

						.col-md-4

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_blog_post({
									thumbnail: 'assets/img/attachment-10.jpg',
									title: 'Winged moved stars, fruit creature seed night.',
									category: 'Discuss',
									date: '01 June, 2020',
									link: '#'
								})