- FooterClass = 'vlt-footer'
- FooterClass += FooterFixed == 'enable' ? ' vlt-footer--fixed' : ''

//Footer
footer(class=FooterClass)

	//Copyright
	.vlt-footer-copyright

		p &copy; 2020 Copiright.#[br]All rights reserved.