%vlt_display_1 {
	font-size: px2rem(13px);
	line-height: 1.6;
	font-weight: 600;
	letter-spacing: .01em;
	text-transform: uppercase;
}

%vlt_display_2 {
	font-size: px2rem(18px);
	font-weight: 700;
	letter-spacing: .01em;
}